.create-lead-page {
  height: 100%; /* ✔ fill parent */
  background: #f3f7ff;
  padding: 40px;
  overflow: hidden; /* ✔ stop page scroll */
}

/* BACK */
.back-btn {
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* CARD */
.create-lead-card {
  max-width: 720px;
  background: #ffffff;
  margin: auto;
  border-radius: 16px;
  padding: 39px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.create-lead-card h2 {
  text-align: center;
  color: #0d99ff;
  margin-bottom: 24px;
}

/* FORM */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #7b818e;
}

.form-group input {
  height: 42px;
  border-radius: 8px;
  border: 2px solid #adafb2;
  padding: 0 12px;
  font-size: 15px;
}
.form-group select {
  color: #232424;
  height: 42px;
  font-size: 15px;
  outline: none;
}

.full-width {
  width: 40%;
}



.btn-cancel {
  background: #ff7d2d;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  text-transform: lowercase;
  text-align: right;
}

.btn-save {
  background: #0d99ff;
  color: #fff;
  border: none;
  padding: 10px 28px;
  border-radius: 10px;
  text-transform: lowercase;
}

.form-group label {
  text-align: left;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
