/* responsive: stack for small screens */
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-box {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 0px;
    border-radius: 15px;
    background-color: #eef4ff;
  }

  /* Collapse grid */
  .container-box .grid {
    grid-template-columns: 1fr;
  }

  /* LEFT CARD → HEADING */
  .left-card {
    background: white;
    padding: 0 0 16px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
  }

  .left-card img {
    width: 180px;
    height: auto;
  }

  /* RIGHT CARD → FORM */
  .right-card {
    display: flex;
    justify-content: center;
  }

  .right-card form {
    text-align: center;
    width: 100%;
    margin: 0 20px;
    padding: 30px;
    gap: 20px;
  }

  .right-card form .link2 {
    font-size: 14px;
  }

  .outer-card {
    padding: 20px 0;
  }
}
