/* ResetPassword.css */

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 26px;
  background: #0a84ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

.btn:disabled {
  background: #d1d5db;
}

/* floating animation */
.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(12px);
  }
}

.back-login {
  text-align: right;
  padding: 10px;
  color: #0f66d6;
  cursor: pointer;
}

.back-login:hover {
  color: orangered;
}
